/* Basic Breadcrumb Styling */
.breadcrumb {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  height: 7rem;
  width: 100%;
  color: black;
  font-size: 25px;
}

.last-item {
  color: teal !important;
}

.breadcrumb ::before {
  display: none;
}

.breadcrumb a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: color 0.3s ease;
  font-size: 20px;
  text-transform: capitalize;
  padding: 0 !important;
}

.breadcrumb a:hover {
  text-decoration: none;
  color: black;
}

.breadcrumb span {
  display: flex;
  align-items: center;
  font-size: 30px;

}

.breadcrumb .separator {
  margin: 0 4px;
  color: #6c757d;
}

.breadcrumb .active {
  color: #343a40;
  font-weight: 600;
}

@media (max-width: 767px) {
  .breadcrumb {
    font-size: 14px;
    padding: 8px 12px;
  }

  .breadcrumb a {
    font-size: 14px;
  }

  .breadcrumb .separator {
    font-size: 14px;
    margin: 0 6px;
  }
}
